.main-content {
  min-height: 100%;  /* Гарантує, що основний контент займає всю висоту сторінки */
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 20px 15px;
  color: #fff;
  text-align: center;
  margin-top: auto;  /* Це дозволяє футеру завжди бути внизу */
}

.footer_container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer_text {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer_links {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  list-style: none;
}

.footer_link {
  font-size: 22px;
  margin: 10px;
  background-color: black;
  transform: rotate(-7deg); /* Rotates the text 45 degrees */
  display: inline-block; /* Ensures the element respects the transform */
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;
  padding: 0.5rem 0.5rem;

}

.footer_link:hover {
  color: black;
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
