body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/images/header/hero-image.png");
  background-size: cover; /* Охоплює весь екран */
  background-position: center center; /* Центрує фонове зображення */
  background-repeat: no-repeat; /* Забороняє повторення зображення */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* fonts */
@font-face {
  font-family: Silka-Regular;
  src: url("./assets/fonts/silka-regular-webfont.ttf");
}
@font-face {
  font-family: Silka-Medium;
  src: url("./assets/fonts/Silka/silka-medium-webfont.ttf");
}
@font-face {
  font-family: Silka-SemiBold;
  src: url("./assets/fonts/Silka/silka-semibold-webfont.ttf");
}
@font-face {
  font-family: SilkaMono-Regular;
  src: url("./assets/fonts/Silka/Silka_Mono/silkamono-regular-webfont.ttf");
}
@font-face {
  font-family: SilkaMono-Medium;
  src: url("./assets/fonts/Silka/Silka_Mono/silkamono-bold-webfont.ttf");
}

h1          {font-family: 'SilkaMono-Medium', sans-serif; font-size: 45px; letter-spacing: -1px;} ;
h2          {font-family: 'Silka-SemiBold', sans-serif; font-size: 22px; letter-spacing: 2px;}
h3          {font-family: 'SilkaMono-Regular', sans-serif; font-size: 18px; }
p           {font-family: 'SilkaMono-Regular'; font-size: 16px;}
strong 	    {font-family: 'Silka-SemiBold', sans-serif;}
a           {font-family: 'SilkaMono-Regular'; text-decoration: none; outline: 0;}
p a         {text-decoration: underline;}
p a:hover   {color: rgba(255, 255, 255, 1)}


h1, h2, h3, h4, p, a, b, strong  {padding: 0; margin: 0; font-weight: 400; letter-spacing: normal; text-align: center !important;}
li, ul {padding: 0; margin: 0; list-style: none;}
h1.center, h2.center, h3.center, h4.center, p.center {text-align: center;}
a:focus { outline: none; }



.section {
  padding: 25px 20px;
  text-align: center;
  justify-content: center;

}

.text-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
  text-align: center;
  justify-content: center;
}

.text_subtitle {
  padding-top: 1.75rem;
  font-size: 20px;
  font-weight: bold;
  color: #033;
}

.text_description {
  margin-left: 1rem;  
  margin-right: 1rem;
  margin: 0.5rem;
  font-size: 13px;
  color: #033;
}

.text_date{
  font-size: 12px;
  padding-top: 0.5rem;
  color: #033;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column; /* Розташовує елементи вертикально */
  justify-content: space-between; /* Переконуємося, що кнопка буде внизу */
  background-image: url("/src/assets/images/header/main-ticket.png");
  background-size: cover; /* Охоплює весь екран */
  background-position: center center; /* Центрує фонове зображення */
  background-repeat: no-repeat; /* Забороняє повторення зображення */

  border-radius: 8px;
  height: 200px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.text-section {
  padding-top: 0.75rem;
  padding-left: 1.5rem;
  margin-right: 1.75rem;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}